*{
    padding:0px;
    margin:0px;
    color:white;
    font-family:poppins;
}
#check{
    display:none;
}
.main_box{
    background-image:url("photo.jpg");
    height:100vh;
    background-size:cover;
}
.btn_one{
    cursor:pointer;
    left:0px;
    transition:all 0.4s linear 0s;
}
.btn_one i{
    position:absolute;
    font-size:25px;
    font-weight:700px;
    top:-10px;
    left:-3px;
    cursor:pointer;
}
.sidebar_menu{
    width:250px;
    height:100vh;
    position:absolute;
    background-color:rgba(255,255,255,0.1);
    box-shadow:0px 0px 6px rgba(255,255,255,0.5);
    left:-300px;
    transition:all 0.4s linear 0s;
}
.sidebar_menu .logo{
    width:100%;
    height:40px;
    line-height:20px;
    box-shadow:0px 0px 4px rgba(255,255,255,0.5);
}
.sidebar_menu .logo a{
    position:absolute;
    left:30px;
    text-decoration:none;
    font-size:20px;
    font-weight:700px;
    top:8px;
}
.btn_two{
    position:absolute;
    left:230px;
    top:5px;
    transition:all 0.4s linear 0s;
}
.btn_two i{
    opacity:0.5;
    position:absolute;
    top:-17px;
    cursor:pointer;
    font-size:15px;
}
.menu ul{
    width:100%;
    position:absolute;
}
.menu ul a,i{
    margin:18px 5px;
}
.menu ul a{
    text-decoration:none;
    padding-right:5px;
}
.menu ul i{
    padding-left:5px;
}
.social_media {
    position:absolute;
    left:22%;
    bottom:0px;
    transition:all 0.4s linear 0s;
}
.social_media a i{
    opacity:0.5;
}
.btn_one i:hover{
    font-size:30px;
    font-weight:bolder;
}
.btn_two i:hover{
    font-weight:bolder;
    font-size:18px;
}
.menu ul li:hover{
    box-shadow:1px 1px 4px rgba(255,255,255,0.5);
}
 .social_media a i:hover{
    opacity:1;
    transform:scale(1.5);
}
#check:checked~.sidebar_menu{
    left:0px;
}
#check:checked~.btn_one{
    opacity:0;
}